<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Your Moon Cart</h2>

<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.product.title %></li>
  <% end %>
</ul>

<%= link_to 'Back to Shop', store_index_path %>